/* body{
    max-width: 0%;
    margin: 0;
} */


.header{
    overflow: hidden;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    position: fixed;
    box-shadow:0 0 20px 0 black;
    z-index: 1;
}

/* .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 2px;
    padding: 4px 8px;
    color:#999796;
}

.header-1-2
{
    display: flex;
    align-items: center;
} */



.header-2 .header-2-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.row1 , #donate { 
    margin: 2px 2px;
    min-width: 6rem;
    padding: 4px 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    /* color: #686968 !important; */
    border: none;
    border-radius: 16px;
    height: auto;

   
    
}


.row1:hover {
    background-color: #e7e7e7;
}

#donate {
    color: #04AA6D;

}
#donate:hover{
  transform: scale(1.2); 
  background-color: #e7e7e7;
}