/* body{
    max-width: 0%;
    margin: 0;
} */


.header{
    overflow: hidden;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    box-shadow:0 0 20px 0 black;
    z-index: 1;
    margin-bottom: 2rem;
}

.header-2 .header-2-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.row1 , #donate { 
    margin: 2px 2px;
    min-width: 6rem;
    padding: 4px 8px;
  
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    
    border: none;
    border-radius: 16px;
    height: auto;

   
    
}


.row1:hover {
    transform: scale(1.2); 
    
}

#donate {
    color: #04AA6D;
    margin: 0 10px;
    font-weight: 600;

}
#donate:hover{
  transform: scale(1.4); 

}