body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: "images/hijiji.jpg";
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container>button {
    background-color: #21e427;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;

}

button:hover {
    background-color: #5d835f;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.main {
    background-image: url("/public/images/back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 130vh;
}

.main .main_content {
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}

.main .main_content h2 {
    color: white;
    font-size: 350%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: left;
}

.main .main_content h2 span {
    font-size: 50%;
    opacity: 0.9;
    font-weight: 400;
    line-height: 50px;
}

.main .main_content .btn a {
    margin-top: 10%;
    text-align: left;
    width: 2%;
    text-decoration: none;
    font-size: 24 px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.856);
    border: 2px solid rgba(0, 0, 0, 0.856);
    text-align: center;
    padding: 16px;
    transition: 0.5s;

}

.main .main_content .btn a:hover {
    background-color: rgba(255, 255, 255, 0.527);
    color: rgb(37, 0, 19);
    border: none;
    border: 4px solid rgb(37, 0, 19);
    transition: 0.5s;
}

.side {
    background-color: rgba(0, 0, 0, 0.966);
    display: flex;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.side .left {
    width: 50%;
    float: left;
}

.side .left img {
    float: left;
    width: 100%;
}

.side .right {
    background-color: rgba(0, 0, 0, 0.966);
    width: 50%;
    height: 30rem;
    float: right;
}

.side .right h2 {
    margin-top: 8%;
    font-size: 250%;
}

.side .right p {
    margin-left: 15%;
    width: 70%;
    font-size: 147%;
    margin-top: 6%;
}

.side .right .side_btn {
    margin-top: 4%;
}

.side .right .side_btn a {
    text-decoration: none;
    font-size: large;
    margin: 32%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 4px double whitesmoke;
    transition: 0.5s;
}

.side .right .side_btn a:hover {
    background-color: rgb(79, 255, 88);
    color: black;
    font-weight: bolder;
    border: none;
    border: 4px solid green;
    transition: 0.5s;
}

/* .product
  {
      float:left;
      background-image: url("/public/images/poor.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding-bottom: 50px;
      height: 100vh;
      font-family: 'Trebuchet MS', sans-serif;
      color: white;
  }
  .product h2 
  {
      font-size: 45px;
      text-align: center;
      padding: 20px;
  }
  .product .product_container
  {
      display:flex;
      margin-left: 5%;
      margin-right: 5%;  
  }
  .product .product_container .item
  {

    height:60%;
      width:33%;
      padding: 2rem;
      margin: 10px;
      background-color: black;
      opacity: 80%;
      border-radius: 50%;
      text-align: center;
  }
  .product .product_container .item:hover
  {
      box-shadow:0px 3px 65px 0px rgb(255, 189, 165);
  }
  .product .product_container .item .item_img
  {
      width:60%;
      height: 20%;
      overflow:hidden;
      margin-left: 23%;
  }
  .product .product_container .item .item_img img
  {
      width:100%;
      height: 10%;
  }
  .product .product_container .item .item_content
  {
    text-align: center;
  }
  .product .product_container .item .item_content h3
  {
      font-size: 25px;
      line-height: 2px;
      color: rgb(79, 255, 88);
      font-weight: bolder;
  }
  .product .product_container .item .item_content p
  {
      font-size: 20px;
      line-height: 25px;
      width: 80%;
      text-align: center;
        padding: 2rem;
  } */
/* ----------------------------------------------------------------------- */

/*-----------------------------Product Container---------------------------------*/

.product {
    background-image: url("/public/images/poor.jpg");
    background-size: 100%;
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
    border: 10px double black;

}

.product_container {
    display: flex;
    padding: 2rem;
    justify-content: center;
    min-width: 5rem;
    gap: 1rem;
    margin: 1rem;
}

.item_content>h3 {
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
}


.item_content>p {
    color: whitesmoke;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.item {
    border: 2px solid black;
    border-radius: 5%;
    background-color: black;
    min-width: 16rem;
    min-height: 25rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.product .product_container .item:hover {
    box-shadow: 0px 3px 65px 0px rgb(255, 189, 165);
}

/* -------------------------------------------------------------- */
/* --------------------------Mission And Vision-------------------------------------- */

.mission-vision {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    gap: 3rem;
    align-items: center;
}

.mission,
.vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission-1,
.vision-2 {
    width: 50%;

    p {
        color: gray;
        font-size: 25px;
    }

    h1 {
        text-align: center;
    }
}



/* --------------------------------------------------------------------------- */

.main_about {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("/public/images/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    margin-top: -1.5%;
}

.main_about .main_content_about h2 {
    color: white;
    font-size: 390%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 20%;
}

.product_about {
    float: left;
    background-image: url("/public/images/about_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50px;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

/* ------------------------------Donate US----------------------------------------- */

.donate {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("/public/images/donate_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -1.5%;
    color: white;
    text-align: center;
}

.donate_container > p {
    text-align: center;
    height: 10rem;
    font-size: 20px;
    
}

.donate_container {
    background-color: black;
    opacity: 80%;
    text-align: center;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    
}

.donate_container > h1 {
    color: rgb(79, 255, 88);
    padding: 2rem;
    height: 10rem;
}


.side_btn a {
    text-decoration: none;
    font-size: 120%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
}

.side_btn a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    border: 4px solid green;
    transition: 0.5s;
}

/* ---------------------------END------------------------------------- */

.contact_container {
    padding: 100px;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("/public/images/about_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 180vh;
    margin-top: -1.5%;
    color: white;
}

.contact_container h2 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 33px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact_container .g_map {
    border: 10px solid white;
}

.contact_container .contact_content {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact_container .contact_content p {
    padding: 15px;
    font-size: 20px;
    line-height: 25px;
}