body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, sans-serif;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.center{
    max-width: 80%;
    margin: 0 auto ;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container>button {
    background-color: #21e427;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;

}

button:hover {
    background-color: #5d835f;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




/* .product
  {
      float:left;
      background-image: url("/public/images/poor.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding-bottom: 50px;
      height: 100vh;
      font-family: 'Trebuchet MS', sans-serif;
      color: white;
  }
  .product h2 
  {
      font-size: 45px;
      text-align: center;
      padding: 20px;
  }
  .product .product_container
  {
      display:flex;
      margin-left: 5%;
      margin-right: 5%;  
  }
  .product .product_container .item
  {

    height:60%;
      width:33%;
      padding: 2rem;
      margin: 10px;
      background-color: black;
      opacity: 80%;
      border-radius: 50%;
      text-align: center;
  }
  .product .product_container .item:hover
  {
      box-shadow:0px 3px 65px 0px rgb(255, 189, 165);
  }
  .product .product_container .item .item_img
  {
      width:60%;
      height: 20%;
      overflow:hidden;
      margin-left: 23%;
  }
  .product .product_container .item .item_img img
  {
      width:100%;
      height: 10%;
  }
  .product .product_container .item .item_content
  {
    text-align: center;
  }
  .product .product_container .item .item_content h3
  {
      font-size: 25px;
      line-height: 2px;
      color: rgb(79, 255, 88);
      font-weight: bolder;
  }
  .product .product_container .item .item_content p
  {
      font-size: 20px;
      line-height: 25px;
      width: 80%;
      text-align: center;
        padding: 2rem;
  } */
/* ----------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */


/* ------------------------------Donate US----------------------------------------- */

.donate {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("/public/images/donate_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -1.5%;
    color: white;
    text-align: center;
}

.donate_container > p {
    text-align: center;
    height: 10rem;
    font-size: 20px;
    
}

.donate_container {
    background-color: black;
    opacity: 80%;
    text-align: center;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    
}

.donate_container > h1 {
    color: rgb(79, 255, 88);
    padding: 2rem;
    height: 10rem;
}


.side_btn a {
    text-decoration: none;
    font-size: 120%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    border: 2px double whitesmoke;
    transition: 0.5s;
}

.side_btn a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    border: 4px solid green;
    transition: 0.5s;
}

/* ---------------------------END------------------------------------- */

.contact_container {
    padding: 100px;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url("/public/images/about_back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 180vh;
    margin-top: -1.5%;
    color: white;
}

.contact_container h2 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 33px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact_container .g_map {
    border: 10px solid white;
}

.contact_container .contact_content {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.contact_container .contact_content p {
    padding: 15px;
    font-size: 20px;
    line-height: 25px;
}