

.footer-1 {
    p {
        color: #383838;
    }
    padding: 2rem;
    
    
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.col-1{
    width: 25%;
}

.col-1>p{
    margin-top: 1rem;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;

}

.col-3>p{
    margin-top: 1rem;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    border-radius: 2rem;
    padding: 0 1rem;
    background-color: #f0f0f0;
    height: 4rem;

}

.r-2-c-1{
    display: flex;
    gap: 1rem;
    
}

.r-2-c-2
{
    margin: 2px 0;
}

.footer-2{
    height: auto;
    background-color: antiquewhite;
    padding: 0 1rem;
    
}

.row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
}

